<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Job Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Job Board</h1>
    <a href='/jobs/new'>Add a new job listing!</a>
    <a href='/jobs'>Click to view job listings!</a>
  </body>
</html>